body{
    font-family: Arial, Helvetica, sans-serif;
}
#first{
    border: 1px solid red;
}
#first > ul{
    background: rgb(103, 158, 180);

}
#first ul{
    list-style: none;
    position: relative;
    margin: 0%;
    padding: 0%;
    float: left;
}
#first ul a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding:0 15px;
    line-height: 32px;
    display: block;
}
#first ul li{
    float: left;
    position: relative;
    margin:0%;
    padding:0%;
}
#first ul li:hover{
    background: green;
}
#first ul ul{
    position:absolute;
    background: rgb(10, 124, 58);
    top: 100%;
    left: 0;
    display: none;
}
#first ul ul li{
    float: none;
    width: 200px;
    border-left:red ;
}
#first ul ul li:hover{
    border-left: 3px solid yellow;
}
#first ul ul ul{
    top:0px;
    left: 100px;
}
#first ul li:hover > ul{
    display: block;
}